.venv/

# Cache files
__pycache__/
.mypy_cache/
.pytest_cache/

# Results folder except example.png
results/*
!results/example_*.png

# Ignore the development folder (used by devs to test features)
dev/
